<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @listing.type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Room nums:</strong>
  <%= @listing.room_nums %>
</p>

<p>
  <strong>Bathroom nums:</strong>
  <%= @listing.bathroom_nums %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
